@model Infraestructure.Models.Factura

@{
    ViewBag.Title = "Detalle";
}

@functions{
    public string getDateString(DateTime? date)
    {
        DateTime fecha = (DateTime)date;
        return fecha.Day + "/" + fecha.Month + "/" + fecha.Year;
    }

    public double? promedioCalifsProv(IEnumerable<Infraestructure.Models.OrdenDetalle> lista)
    {
        double lmao = 0;
        int count = 0;
        if(lista == null)


        foreach (Infraestructure.Models.OrdenDetalle detalle in lista)
        {
            if (detalle.IdEvaluacionProv != null)
            {
                count++;
                lmao += (int)detalle.EvaluacionProv.Escala.Valor;
            }

        }


        return lmao / count;
    }

    public double? promedioCalifsClient(IEnumerable<Infraestructure.Models.OrdenDetalle> lista)
    {
        double lmao = 0;
        int count = 0;
        foreach (Infraestructure.Models.OrdenDetalle detalle in lista)
        {
            if (detalle.IdEvaluacionCliente != null)
            {
                count++;
                lmao += (int)detalle.EvaluacionCliente.Escala.Valor;
            }

        }


        return lmao / count;
    }

    public double? PromedioFinal(IEnumerable<Infraestructure.Models.OrdenDetalle> lista)
    {
        double lmao = 0;
        int count = 0;
        foreach (Infraestructure.Models.OrdenDetalle detalle in lista)
        {
            if (detalle.IdEvaluacionCliente != null && detalle.IdEvaluacionProv != null)
            {
                count++;
                count++;

                lmao += (int)detalle.EvaluacionCliente.Escala.Valor;
                lmao += (int)detalle.EvaluacionProv.Escala.Valor;

            }

        }


        return lmao / count;
    }


    public double? calcularAcumulado(int? cantidad, double? precio)
    {
        return (cantidad * precio);
    }
}

<div class="container-fluid m-auto text-center pt-5 pb-4">
    <h2 class="page-title">Detalle de tu orden en el día @getDateString(Model.Fecha)</h2>
</div>


<div class="orden-container">
    <div class="orden-header">
        <h4>Orden</h4>
    </div>
    <div class="dl-horizontal inside-orden">

        <div class="header-inside-orden row">
            <div class="col-md-12">
                <p> Cliente: @Model.Usuario.Nombre @Model.Usuario.Apellido1 @Model.Usuario.Apellido2</p>
                <p> Correo: @Model.Usuario.Correo</p>
            </div>
            <div class="col-md-4">
                <h6>
                    @Html.DisplayNameFor(model => model.Orden.FechaInicio):
                </h6>

                <p>
                    @Html.DisplayFor(model => model.Orden.FechaInicio)
                </p>
            </div>
            <div class="col-md-4">
                <h6>
                    @Html.DisplayNameFor(model => model.Orden.Estado_Orden):
                </h6>

                <p>
                    @Html.DisplayFor(model => model.Orden.Estado_Orden.Nombre)
                </p>
            </div>
            <div class="col-md-4">
                <h6>
                    @Html.DisplayNameFor(model => model.CuentaPago.TipoPago):
                </h6>

                <p>
                    @Html.DisplayFor(model => model.CuentaPago.TipoPago.Nombre)
                </p>
            </div>

        </div>
        <table class="table tablaOrden">
            <tr>
                <th>
                    Nombre
                </th>
                <th style="text-align: center;">
                    Cantidad
                </th>
                <th style="text-align: center;">
                    Precio
                </th>
                <th style="text-align: center;">
                    Precio por volumen
                </th>
                <th style="text-align: center;">
                    Estado
                </th>
                <th style="text-align: center;">
                    Evaluacion
                </th>
            </tr>

            @foreach (var item in Model.Orden.OrdenDetalle)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Producto.Nombre)
                    </td>
                    <td style="text-align: center;">
                        @Html.DisplayFor(modelItem => item.Cantidad)
                    </td>
                    <td style="text-align: center;">
                        @Html.DisplayFor(modelItem => item.Producto.Precio)
                    </td>
                    <td style="text-align: center;">
                        ₡@calcularAcumulado(item.Cantidad, item.Producto.Precio)
                    </td>
                    <td style="text-align: center;">
                        @Html.DisplayFor(modelItem => item.Estado_Detalle.Nombre)
                    </td>
                    <td style="text-align: center;">
                        @if (item.IdEstado == 9)
                        {
                            if (item.IdEvaluacionCliente == null)
                            {
                                <a title="Evaluar cliente" class="btn Editar" onclick="CrearEvaluacion(@item.IdOrden, @item.IdProducto, @item.Producto.IdProveedor)"><i class="fa-solid fa-star fa-xl" style="color: #cf7b06;"></i></a>

                            }
                            else
                            {

                            <p> @item.EvaluacionCliente.Escala.Valor★ </p>
                            }
                        }
                        else
                        {
                            <p> Entrega no finalizada </p>
                        }
                    </td>
                </tr>
            }

        </table>
        <div class="orden-totales">
            <h6>
                @Html.DisplayNameFor(model => model.Orden.SubTotal): @Html.DisplayFor(model => model.Orden.SubTotal)
            </h6>
            <h6>
                @Html.DisplayNameFor(model => model.IVA): @Html.DisplayFor(model => model.IVA)%

            </h6>
            <h6>
                @Html.DisplayNameFor(model => model.Total): @Html.DisplayFor(model => model.Total)
            </h6>
        </div>
        <hr />
        <div>
            <h5> Otros detalles: </h5>
            <p>
                @Html.DisplayNameFor(model => model.Direccion): @Html.DisplayFor(model => model.Direccion.Provincia), @Html.DisplayFor(model => model.Direccion.Canton), @Html.DisplayFor(model => model.Direccion.Distrito), @Html.DisplayFor(model => model.Direccion.DireccionExacta)
            </p>
            <p> Calificación del Proveedor:<span style="color:#8d6631"> @promedioCalifsProv(Model.Orden.OrdenDetalle)★ </span> </p>
            <p> Calificación del Cliente: <span style="color:#8d6631"> @promedioCalifsClient(Model.Orden.OrdenDetalle)★ </span>  </p>
            <p> Calificación Final: <span style="color:#8d6631"> @PromedioFinal(Model.Orden.OrdenDetalle)★ </span> </p>
        </div>

    </div>
</div>

@* Modal *@
<input type="hidden" id="campoOculto" />
<div class="modal" tabindex="-1" id="myModal">
    <div class="modal-dialog modal-lg box-eval" role="document">
        <div class="modal-content">
            <div class="modal-header" style="border: none">
                <h5 class="head-Title">Evaluar Proveedor</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="background-color: #2222226c; border-radius: 10px; margin: 3px 10px; border: 1px solid #ffffff23">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer" style="border:none;">
                <button type="button" class="btn btn-detalle" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
@* Modal *@

<script>
    function CrearEvaluacion(idOrden, idProducto, idProveedor) {
        $.ajax({
            method: "POST",
            url: "/Factura/EvaluarProveedor",
            data: { "id": idProveedor, "idOrden": idOrden, "idProducto": idProducto },
            success: function (result) {
                $(".modal-body").html("");
                $(".modal-body").html(result);
                $("#myModal").modal("show")
            }, error: function (xhr, status, error) {
                console.log("Error: " + error, "No Error: " + xhr.status)
            }
        });



    }


</script>