@model Infraestructure.Models.Factura

@{
    ViewBag.Title = "Detalle";
}

@functions{
    public string getDateString(DateTime? date)
    {
        DateTime fecha = (DateTime)date;
        return fecha.Day + "/" + fecha.Month + "/" + fecha.Year;
    }

    public double? calcularAcumulado(int? cantidad, double? precio)
    {
        return (cantidad * precio);
    }
}

<div class="container-fluid m-auto text-center pt-5">
    <h2 class="page-title">Detalle de tu orden en el día @getDateString(Model.FechaInicio)</h2>

</div>


<div class="orden-container">
    <div class="orden-header">
        <h4>Orden #@Model.IdOrden</h4>
    </div>
    <hr />
    <div class="dl-horizontal inside-orden">

        <div class="header-inside-orden row" style="padding: 5px 0 10px 0;">
            <div class="col-md-6">
                    <h6>
                        <b> @Html.DisplayNameFor(model => model.FechaInicio): </b>
                            @Html.DisplayFor(model => model.FechaInicio)
                       
                    </h6>

            </div>
            <div class="col-md-6">
                <h6>
                    <b> @Html.DisplayNameFor(model => model.Estado): </b>
                    @Html.DisplayFor(model => model.Estado.Nombre)
                </h6>
            </div>

        </div>
        <table class="table table-hover">
            <tr>
                <th style="background-color: black; color: white; text-align: center;">
                    Nombre
                </th>
                <th style="background-color: black; color: white; text-align: center;">
                    Cantidad
                </th>
                <th style="background-color: black; color: white; text-align: center;">
                    Precio unitario
                </th>
                <th style="background-color: black; color: white; text-align: center;">
                    Precio por volumen
                </th>

            </tr>

            @foreach (var item in Model.OrdenDetalle)
            {
                <tr>
                    <td style=" background-color: #ffffffd8; text-align: center;">
                        @Html.DisplayFor(modelItem => item.Producto.Nombre)
                    </td>
                    <td style=" background-color: #ffffffd8; text-align: center;">
                        @Html.DisplayFor(modelItem => item.Cantidad)
                    </td>
                    <td style=" background-color: #ffffffd8; text-align: center;">
                        @Html.DisplayFor(modelItem => item.Producto.Precio)
                    </td>
                    <td style=" background-color: #ffffffd8; text-align: center;">
                        ₡@calcularAcumulado(item.Cantidad, item.Producto.Precio)
                    </td>
                </tr>
            }

        </table>
        <div>
            @Html.DisplayNameFor(model => model.SubTotal)
        </div>

        <div>
            @Html.DisplayFor(model => model.SubTotal)
        </div>



    </div>
</div>
    <a class="btn btn-comprar" href="/Orden/IndexAdmin"style="color: white; text-align: center;">
        Volver
    </a>


