@model Infraestructure.Models.Usuario

@{
    ViewBag.Title = "Inicio de Sesión";
}

@helper RandomMessage()
{
    string[] replies = { "¡Buenas!", "¿Que comprarás hoy?", "¡Que gusto verte otra vez!","¡Bienvenido!","¡Te estabamos esperando!","Inicio de Sesión"};

    Random rnd = new Random();
    var lowerBound = 0;
    var upperBound = 6;
    var rNum = rnd.Next(lowerBound, upperBound);

    <h2 class="page-title mb-3">@replies[rNum]</h2>
}

<section style="height: 75vh">
    <div class="login-box">
        @RandomMessage();
        @using (Html.BeginForm("Login", "Login"))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group mb-5">
                    @Html.LabelFor(model => model.Correo, htmlAttributes: new { @class = "login-label col-md-2 mb-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Correo, new { htmlAttributes = new { @class = "form-control text-center mb-3" } })
                        @Html.ValidationMessageFor(model => model.Correo, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group mb-5">
                    @Html.LabelFor(model => model.Clave, htmlAttributes: new { @class = "login-label col-md-2 mb-2" })
                    <div class="col-md-10">
                        @Html.PasswordFor(model => model.Clave, new { @class = "form-control text-center mb-2" })
                        @Html.ValidationMessageFor(model => model.Clave, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group mt-1">
                    <div class="col-md-offset-2 col-md-10 mt-1">
                        <input type="submit" value="Iniciar Sesión" class="btn btn-lg btn-gradient" />
                    </div>
                </div>
            </div>
        }
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

