@model Infraestructure.Models.Producto


        <div style="padding: 1em">
            <div>
                <h3> Sección de Comentarios </h3>
                <textarea id="txt" class="form-text" draggable="false" maxlength="480" placeholder="Deja tu comentario" style="height:5em; width: 100%; padding: 1em; resize:none;"></textarea>
                <button onclick="" class="btn btn-comprar crearMensaje" data-id="@Model.IdProducto"> Enviar </button>
            </div>
            @if (Model.Mensaje.Count! > 0)
            {
                foreach (var c in Model.Mensaje)
                {

                    <div>
                        <hr />
                        <div class="row com-text" style=" ">
                            <div class="col-1 combox-limit">
                                <div class="smallpfp">
                                    @if (c.Usuario.Foto == null)
                                    {
                                        <img src="~/src/img/circle-user-solid.svg" />
                                    }
                                    else
                                    {

                                    }
                                </div>
                            </div>
                            <div class="col-10">
                                <div style="padding-top: 0.5em;">
                                    <h6 style="margin-bottom: 1px">
                                        @c.Usuario.Nombre  @c.Usuario.Apellido1 @c.Usuario.Apellido2
                                    </h6>
                                    <p style="letter-spacing: 0px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ">
                                        @c.Mensaje1
                                    </p>
                                    @if (c.Respuesta.Count! > 0)
                                    {
                                        foreach (var r in c.Respuesta)
                                        {

                                            <div class="row com-text respuesta">
                                                <div class="col-1 combox-limit ">
                                                    <div class="smallpfp">
                                                        @if (c.Usuario.Foto == null)
                                                        {
                                                            <img src="~/src/img/circle-user-solid.svg" />
                                                        }
                                                        else
                                                        {

                                                        }
                                                    </div>
                                                </div>
                                                <div class="col-10">
                                                    <h6 style="margin-bottom: 1px">
                                                        <span>@r.Usuario.Nombre  @r.Usuario.Apellido1 @r.Usuario.Apellido2</span> respondió:
                                                    </h6>
                                                    <p style="letter-spacing: 0px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ">
                                                        @r.Respuesta1
                                                    </p>
                                                </div>
                                            </div>


                                        }
                                    }
                                    else
                                    {
                                        <div>
                                            <a class="btn btn-comprar" href="#muahaha"> Agregar respuesta </a>
                                        </div>

                                    }
                                </div>

                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="com-text text-center" style="padding-top:2em;">
                    <p>
                        Parece que no hay comentarios. ¡Sé el primero!
                    </p>
                </div>

            }
        </div>
