@model Infraestructure.Models.Producto

@{
    ViewBag.Title = Model.Categoria.Nombre;
}


@helper ImageList()
{
int number = 0;
    <div class="col-1-md tn-img">
    @foreach (var c in Model.Foto)
        {
        number++;
            <img  id="@number" onclick="changeImage(id)" src="data:image/jpeg;chartset=utf-8;base64,@Convert.ToBase64String(c.Media)"
                 alt="Producto @Html.DisplayFor(model=>model.Foto)" />
        }
    </div>
}


<script>
    function changeImage(id) {
        if (id != null) {
            var imgsrc = document.getElementById(id).src;
            document.getElementById("img-focus").src = imgsrc;
        }
    }
</script>

<div class="producto-container row py-3">
    
    <div class="col-sm-4" style="border-right: 1px solid #9c9393">
        @if (Model.Foto.Count >= 1)
        {
            <div>
                
                <img id="img-focus" class="producto-image" src="data:image/jpeg;charset=utf-8;base64,@Convert.ToBase64String(Model.Foto.First().Media)"
                     alt="Imagen @Html.DisplayFor(modelItem => Model.Nombre)" />
            </div>
            <div class="flex-column py-2 px-1">
                @ImageList()
            </div>
}
else
            {
                <div class="text-center">
                    <p style=" margin: 50% auto; "> No hay imagenes para mostrar </p>
                </div>
            }
        </div>
    <div class="col-sm-8 py-2 px-3">
        <h4 style="color: #161616">
            @Html.DisplayFor(model => model.Nombre)
        </h4>
        <div class="col-md-11 opacity-75">
            <h6>
                <span>
                    Proveedor:
                </span>
                @Html.DisplayFor(model => model.Usuario.Nombre)
                @Html.DisplayFor(model => model.Usuario.Apellido1)
                @Html.DisplayFor(model => model.Usuario.Apellido2)

            </h6>
        </div>
        <hr style="
       border-width: 2px;
       border-style: solid;
       border-image: linear-gradient(90deg, rgba(213,0,255,1) 0%, rgba(255,156,0,1) 100%) 1;" />
        <div class="desc-box">
            <div class="row">

                <div class="col-md-11">
                    <h5>
                        @Html.DisplayNameFor(model => model.Descripcion)
                    </h5>
                    <hr />
                    <p>
                        <span>
                            @Html.DisplayFor(model => model.Descripcion)
                        </span>
                    </p>
                </div>
                <br />
                <div class="col-md-4">
                    <h6>
                        @Html.DisplayNameFor(model => model.Categoria)
                    </h6>
                    <hr />
                    <p>
                        @Html.DisplayFor(model => model.Categoria.Nombre)
                    </p>
                </div>
                <div class="col-md-4">

                    <h6>
                        @Html.DisplayNameFor(model => model.Estado)
                    </h6>
                    <hr />

                    <p id="subtitulo-detalle">
                        @Html.DisplayFor(model => model.Estado.Nombre)
                    </p>
                </div>

                <div class="col-md-3">
                    <h6>
                        @Html.DisplayNameFor(model => model.Precio)
                    </h6>
                    <hr />
                    <p>
                        @Html.DisplayFor(model => model.Precio)
                    </p>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <h6>
                            @Html.DisplayNameFor(model => model.VentasR)
                        </h6>
                        <hr />

                        <p>
                            @Html.DisplayFor(model => model.VentasR)
                        </p>
                    </div>
                    <div class="col-md-6">

                        <h6>
                            @Html.DisplayNameFor(model => model.Cantidad)
                        </h6>
                        <hr />

                        <p>
                            @Html.DisplayFor(model => model.Cantidad)
                        </p>
                    </div>
                </div>

                <div class="col-md-11 justify-content-center">
                    <h6 id="compraObj" style="margin:-4px 0; opacity: 0">@Model.IdProducto</h6>

                    <a id="comprar" class="btn btn-secondary btn-lg btn-comprar">
                        Comprar
                    </a>
                </div>
            </div>
        </div>



    </div>
</div>


<div class="col-lg-12"
     style="
    margin: 1em 0em;
    background-color: #ffffffd8;
    border: 1px solid #6e7a86ff;

      ">
    <div class="comment-box">
        <div style="padding: 1em">
            <div>
                <h3> Sección de Comentarios </h3>
                @if (Web.Security.AutorizeView.IsUserInRole(new string[] { "Cliente" }))
                {
                    <textarea id="txt" class="form-text" draggable="false" maxlength="480" placeholder="Deja tu comentario" style="height:5em; width: 100%; padding: 1em; resize:none;"></textarea>
                    <button class="btn btn-comprar crearMensaje" data-id="@Model.IdProducto"> Enviar </button>
                }
                else
                {
                    <textarea readonly class="form-text" draggable="false" maxlength="480" placeholder="Para dejar un comentario debes estar registrado." style="height:5em; width: 100%; padding: 1em; resize:none;"></textarea>
                    <button class="btn btn-comprar crearMensaje" disabled> Enviar </button>
                }
            </div>
            <div id="cargaMensaje">
                @if (Model.Mensaje.Count! > 0)
                {
                    foreach (var c in Model.Mensaje)
                    {

                        <div>
                            <hr />
                            <div class="row com-text" style=" ">
                                <div class="col-1 combox-limit">
                                    <div class="smallpfp">
                                        @if (c.Usuario.Foto == null)
                                        {
                                            <img src="~/src/img/circle-user-solid.svg" />
                                        }
                                        else
                                        {

                                        }
                                    </div>
                                </div>
                                <div class="col-10" >
                                    <div style="padding-top: 0.5em;">
                                        <h6 style="margin-bottom: 1px">
                                            @c.Usuario.Nombre  @c.Usuario.Apellido1 @c.Usuario.Apellido2
                                        </h6>
                                        <p style="letter-spacing: 0px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ">
                                            @c.Mensaje1
                                        </p>
                                        @if (c.Respuesta.Count! > 0)
                                        {
                                            foreach (var r in c.Respuesta)
                                            {

                                                <div class="row com-text respuesta">
                                                    <div class="col-1 combox-limit ">
                                                        <div class="smallpfp">
                                                            @if (c.Usuario.Foto == null)
                                                            {
                                                                <img src="~/src/img/circle-user-solid.svg" />
                                                            }
                                                            else
                                                            {

                                                            }
                                                        </div>
                                                    </div>
                                                    <div class="col-10">
                                                        <h6 style="margin-bottom: 1px">
                                                            <span>@r.Usuario.Nombre  @r.Usuario.Apellido1 @r.Usuario.Apellido2</span> respondió:
                                                        </h6>
                                                        <p style="letter-spacing: 0px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ">
                                                            @r.Respuesta1
                                                        </p>
                                                    </div>
                                                </div>


                                            }
                                        }
                                        else
                                        {

                                          
                                                var idUsuario = 0;
                                                Infraestructure.Models.Usuario oUsuario;
                                                //Validar si existe en la sesión
                                                if (Session["User"] != null)
                                                {
                                                    oUsuario = (Infraestructure.Models.Usuario)Session["User"];
                                                    if (oUsuario != null)
                                                    {
                                                        idUsuario = oUsuario.Id;
                                                    }
                                                }
                                            


                                            if (Web.Security.AutorizeView.IsUserInRole(new string[] { "Proveedor" }) && Model.IdProveedor == idUsuario)
                                            {

                                                <h6 id="objProd" style="margin:-4px 0; opacity: 0">@c.IdProducto</h6>

                                                <div style="height: auto;">
                                                    <div class="row com-text respuesta">
                                                        <textarea id="txtResp" class="form-text" draggable="false" maxlength="480" placeholder="Deja tu respuesta" style="height:5em; width: 100%; padding: 1em; resize:none; margin: 1em 0"></textarea>
                                                        <button class="btn btn-comprar crearRespuesta" data-id="@c.Id" style=" width: 10%;"> Enviar </button>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </div>

                                        </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="com-text text-center" style="padding-top:2em;">
                        <p>
                            Parece que no hay comentarios. ¡Sé el primero!
                        </p >
                    </div>

                }
            </div>
        </div>
    </div>
</div>
@* Crear Mensaje *@

@section Scripts {
 <script type="text/javascript">
     $(document).on('click', '.crearMensaje',
         function () {
             var text = document.getElementById("txt").value
             var idProduct = $(this).data('id')
                 $.ajax({
                     method: "GET",
                     url: "/Producto/SaveMensaje",
                     data: {
                         "id": idProduct, "txt": text
                     },
                     success: function (result) {
                         $("#cargaMensaje").html("");
                         $("#cargaMensaje").html(result);
                         document.getElementById('txt').value = "";
                     },
                     error: function (xhr, status, error) {
                         console.log("Error: " + error, "No Error: " + xhr.status)
                     }
                 });
         });
     $(document).on('click', '.crearRespuesta',
         function () {
             var idMsj = $(this).data('id')
             var idProd = document.getElementById('objProd').innerText
             var text = document.getElementById('txtResp').value
                     $.ajax({
                         method: "GET",
                         url: "/Producto/SaveRespuesta",
                         data: {
                             "id": idMsj, "objProd": idProd, "txtResp": text
                         },
                         success: function (result) {
                             $("#cargaMensaje").html("");
                             $("#cargaMensaje").html(result);
                             document.getElementById('txtResp').value = "";
                         },
                         error: function (xhr, status, error) {
                             console.log("Error: " + error, "No Error: " + xhr.status)

                         }
                     });
         });
     $(document).on('click', '#comprar',
         function () {
             var ctr = $(this);
             var idProd = document.getElementById('compraObj').innerText
             $.ajax({
                 method: "GET",
                 url: "/Orden/ordenProducto",
                 data: { "idProducto": idProd },
                 success: function (data) {
                     $("#cantProductos").html('');
                     $("#cantProductos").html(data);
                 }, error: function (xhr, status, error) {
                     console.log("Error: " + error + ", No Error: " + xhr.status);
                 },
             });
         });
 </script>
}



