@model Infraestructure.Models.Producto

@{
    ViewBag.Title = "Editar";
}

<h2 class="page-title">Editar</h2>

@helper ImageList()
{
    <div class="col-1-md tn-img">
        @foreach (var c in Model.Foto)
        {
            <img readonly id="@c.Id" name="@c.Id-span" src="data:image/jpeg;chartset=utf-8;base64,@Convert.ToBase64String(c.Media)" onclick="changeSrc(src)" alt="image">
            <span readonly  style="cursor: pointer; color: #eb1254; font-weight:900" onclick="deleteImg(@c.Id)">&times;</span>
        }
    </div>
}





@using (Html.BeginForm("Save", "Producto", FormMethod.Post, new { enctype = "multipart/form-data" }))

{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.IdProducto)

    #region
    <div class="producto-container row py-3">

        <div class="col-sm-4" style="border-right: 1px solid #9c9393">

            <div>

                <img id="img-focus" class="producto-image" src="data:image/jpeg;charset=utf-8;base64,@Convert.ToBase64String(Model.Foto.First().Media)"
                     alt="Imagen @Html.DisplayFor(modelItem => Model.Nombre)" />
            </div>
            <div id="imagenes" class="flex-column py-2 px-1">
                @ImageList()
            </div>
            <div class="py-2 px-1">
                <p class="mb-2"> Imagenes a añadir</p>
                <output class="tn-img mb-2">
                </output>
            </div>
            <div class="form-group mb-3">
                @Html.LabelFor(model => model.Foto, "Agregar Imagen", htmlAttributes: new { @class = "control-label col-md-12 mb-2", })
                <div class="col-md-10">
                    <input type="file" name="images" multiple="multiple" accept="image/jpeg, image/png, image/jpg" class="form-control lmao">
                </div>
            </div>
        </div>
        <div class="col-sm-8 py-2 px-3">
            <div class="form-group">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nombre" } })
                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger text-validation" })
                </div>
            </div>
            <hr style="
       border-width: 2px;
       border-style: solid;
       border-image: linear-gradient(90deg, rgba(213,0,255,1) 0%, rgba(255,156,0,1) 100%) 1;" />
            <div class="desc-box">
                <div class="row">

                    <div class="col-md-12 mb-3">
                        <h5>
                            @Html.DisplayNameFor(model => model.Descripcion)
                        </h5>
                        <hr />
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-text" } })
                            @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <h6>
                                @Html.DisplayNameFor(model => model.Categoria)
                            </h6>
                            <hr />
                            <div class="form-group">
                                <div class="col-md-12">
                                    @Html.DropDownList("IdCategoria", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.IdCategoria, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">

                            <h6>
                                @Html.DisplayNameFor(model => model.Estado)
                            </h6>
                            <hr />

                            <div class="form-group">
                                <div class="col-md-12">
                                    @Html.DropDownList("IdEstado", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.IdEstado, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row mb-3">
                        <div class="col-md-6">
                            <h6>
                                @Html.DisplayNameFor(model => model.Cantidad)
                            </h6>
                            <hr />
                            <div class="form-group">
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.Cantidad, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Cantidad, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h6>
                                @Html.DisplayNameFor(model => model.Precio)
                            </h6>
                            <hr />
                            <div class="form-group">
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.Precio, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Precio, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group mb-3">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Guardar" readonly class="btn btn-comprar" />
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>

    #endregion


}

<div>
    <a class="page-title" href="/Producto/IndexProveedor"> Volver</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
    </script>

    <script>
        const output = document.querySelector("output")
        const input = document.querySelector(".lmao")
        const dt = new DataTransfer()
        let imagesArray = []
        var doneOnce = false;
        //new File([parts], filename, options)
        //new Blob([parts], options)
        let preCarga = [];



        //var src = "data:image/jpeg;chartset=utf-8;base64," + Convert.ToBase64String(foto.Media);

        input.addEventListener("change", () => {
            const files = input.files
            for (let i = 0; i < files.length; i++) {
                imagesArray.push(files[i])
            }
            if (doneOnce == false) {
                var src = URL.createObjectURL(imagesArray[0]);
                changeSrc(src);
                doneOnce = true;
            }
            displayImages()
        })

        input.addEventListener("change", () => {
            const { files } = input

            for (let i = 0; i < files.length; i++) {
                const file = files[i]
                dt.items.add(file)
            }
            input.files = dt.files // Assign the updates list
        })

        function deleteImg(idimg) {

            Swal.fire({
                title: '¡Un segundo!',
                text: "Después de aceptar no podrás recuperar tu imagen",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#a847ea',
                cancelButtonColor: '#d33',
                confirmButtonText: "¡Eliminalo!",
                cancelButtonText: "De hecho..."

            }).then((resulto) => {
                if (resulto.isConfirmed) {

                    $.ajax({
                        method: "GET",
                        url: "/Producto/EliminarFoto",
                        data: {
                            "id": idimg
                        },
                        success: function (result) {
                            $("#imagenes").html("");
                            $("#imagenes").html(result);
                            Swal.fire(
                                '¡Adiós!',
                                'Tu imagen ha sido eliminada con éxito',
                                'success'
                            )
                        },
                        error: function (xhr, status, error) {
                            console.log("Error: " + error, "No Error: " + xhr.status)
                        }
                    });




                }
            })



        }

        function changeSrc(src) {
            if (src != null) {
                var imgsrc = src;
                document.getElementById("img-focus").src = imgsrc;
            }
        }

        function displayImages() {
            let images = ""
            imagesArray.forEach((image, index) => {
                images += `<div class="">
                <img readonly src="${URL.createObjectURL(image)}" onclick="changeSrc(src)" alt="image">
                <span readonly style="cursor: pointer; " onclick="deleteImage(${index})">&times;</span>
</div>`
            })
            output.innerHTML = images
        }

        function deleteImage(index) {
            imagesArray.splice(index, 1)
            const { files } = input

            for (let i = 0; i < files.length; i++) {
                if (i == index) {
                    let file = files[i];
                    dt.items.remove(file)

                }
            }
            input.files = dt.files // Assign the updates list
            displayImages()
        }


    </script>


}

