<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Hardtech </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    @RenderSection("styles", required: false)
</head>
<body>
    @Html.Partial("_Menu")
    <div class="container-xl">
        @RenderBody()
    </div>
    <hr />
        <div class="container-fluid">
            <div class="container-lg">
                <footer>
                    <div class="row">
                        <div class="col-md-4">
                            <img class="logo2" src="~/src/img/Logo_Z.png">
                        </div>
                        <div class="col-md-4" >
                            <h4 class="nav-link2"> Productos </h4>
                            <ul>
                                <li style="list-style:none">
                                    @Html.ActionLink("Usuarios", "Index", "Autor", null, new { @class = "nav-link2" })
                                </li>
                                <li>

                                    @Html.ActionLink("Productos", "IndexAdmin", "Libro", null, new { @class = "nav-link2" })
                                </li>
                                <li>
                                    @Html.ActionLink("Factura", "IndexAdmin", "Orden", null, new { @class = "nav-link2" })
                                </li>
                                <li>
                                    @Html.ActionLink("Orden", "IndexAdmin", "Orden", null, new { @class = "nav-link2" })
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <a href="/"><h4> Contacto </h4></a>
                            <a href="/"><h4> Terminos de Servicio </h4></a>
                        </div>
                    </div>
                    <p> Copyright ©Hardtech - @DateTime.Now.Year</p>
                </footer>
            </div>
        </div>

    @Scripts.Render("~/bundles/jquery")
    @*Scripts.Render("~/bundles/bootstrap")*@

    <script src="~/Scripts/bootstrap.bundle.min.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
