<nav class="header sticky-top navbar navbar-expand-xl navbar-toggleable-xl navbar-dark">
    <div class="container">

        @if (Web.Security.AutorizeView.IsUserInRole(new string[] { "Proveedor" }))
        {
            @Html.ActionLink(" ", "Proveedor", "Dashboard", new { area = "" }, new
            {
                @class = "navbar-brand logo",

            })
        }
        else
        {
        if (Web.Security.AutorizeView.IsUserInRole(new string[] { "Administrador" }))
        {
            @Html.ActionLink(" ", "Administrador", "Dashboard", new { area = "" }, new
       {
           @class = "navbar-brand logo",

       })
        }
        else
        {
            @Html.ActionLink(" ", "Index", "Home", new { area = "" }, new
                {
                    @class = "navbar-brand logo",

                })
        }
        }


        @{
            string nombre = "";
            string email = "Perfil";
            Infraestructure.Models.Usuario oUsuario;
            //Validar si existe en la sesión
            if (Session["User"] != null)
            {
                oUsuario = (Infraestructure.Models.Usuario)Session["User"];
                if (oUsuario != null)
                {
                    nombre = $"{oUsuario.Nombre} {oUsuario.Apellido1} {oUsuario.Apellido2}";
                    email = oUsuario.Correo;
                }
            }
        }
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Alternar navegación" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-xl-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    @Html.ActionLink("Productos", "Index", "Producto", null, new { @class = "nav-link" })
                </li>

                @if (Web.Security.AutorizeView.IsUserInRole(new string[] { "Proveedor" }))
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Proveedor</a>
                        <ul class="dropdown-menu">
                            <li>
                                @Html.ActionLink("Mis Ventas", "MisVentas", "Factura", null, new { @class = "dropdown-item" })
                                @Html.ActionLink("Mis Reportes", "Proveedor", "Dashboard", null, new { @class = "dropdown-item" })
                                @Html.ActionLink("Mis Productos", "IndexProveedor", "Producto", null, new { @class = "dropdown-item" })

                            </li>
                        </ul>
                    </li>
                }
                @if (Web.Security.AutorizeView.IsUserInRole(new string[] { "Administrador" }))
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Mantenimientos</a>

                        <ul class="dropdown-menu">
                            <li>
                                @Html.ActionLink("Producto", "IndexAdmin", "Producto", null, new { @class = "dropdown-item" })
                                @Html.ActionLink("Mis Reportes", "Administrador", "Dashboard", null, new { @class = "dropdown-item" })
                                @Html.ActionLink("Usuarios Activos", "Index", "Usuario", null, new { @class = "dropdown-item" })
                                @Html.ActionLink("Usuarios Desactivados", "UsuariosDesactivados", "Usuario", null, new { @class = "dropdown-item" })
                                @Html.ActionLink("Historial de ordenes", "IndexAdmin", "Orden", null, new { @class = "dropdown-item" })

                            </li>
                        </ul>
                    </li>
                }
                <li class="nav-item" id="cantProductos">
                    @Html.Partial("_OrdenCantidad")
                </li>
                <li class="nav-item dropdown" style="align-items: end">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"> Mi Cuenta &nbsp  <i class="fa-regular fa-user"></i> </a>
                    <ul class="dropdown-menu ">
                        <li>
                            @* Información usuario *@

                            @if (Session["User"] == null)
                            {
                                <a href="@Url.Action("Index","Login")" class="nav-link"> Iniciar Sesión </a>
                                <a href="@Url.Action("Registro","Usuario")" class="nav-link"> ¡Registrate! </a>
                            }
                            else
                            {
                                <div class="dropdown-item">
                                    @nombre
                                </div>

                                <ul style="list-style: none; font-size: 0.8em;">
                                    <li>
                                        <a href="@Url.Action("Index","Login")" class="nav-link"> Mi Perfil </a>
                                        <a href="@Url.Action("Index","Login")" class="nav-link"> Preferencias </a>
                                    </li>
                                </ul>
                                <hr />
                                if (Web.Security.AutorizeView.IsUserInRole(new string[] { "Cliente" }))
                                {
                                    <a href="@Url.Action("MiBilletera","Billetera")" class="nav-link"> Mi Billetera </a>
                                    <a href="@Url.Action("MisOrdenes", "Factura")" class="nav-link"> Mis Ordenes </a>
                                    <a href="@Url.Action("MisDirecciones","Direccion")" class="nav-link"> Mis Direcciones </a>

                                }
                                if (Web.Security.AutorizeView.IsUserInRole(new string[] { "Cliente", "Proveedor" }))
                                {
                                    <a href="@Url.Action("MisEvaluaciones", "Evaluacion")" class="nav-link"> Mis Evaluaciones </a>
                                }
                                <a href="@Url.Action("Logout","Login")" class="nav-link"> Cerrar Sesión </a>
                            }
                        </li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
</nav>
